<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- Loops over collection-->
                <div *ngFor="let tempProduct of products" class="col-md-3">

                    <div class="product-box">
                        <img src="{{tempProduct.imageUrl}}" class="img-responsive">
                        <h1>{{tempProduct.name}}</h1>
                        <div class="price">{{tempProduct.unitPrice | currency: 'EUR' }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>

                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">  <!--? is safe navigation operator. Guards against null and undefined values ir property paths. If null or = 0 -> display no products found. This is valid if the products is defined or not null. If the products in null/undefined, it just returns undefined.-->
                    No products found.
                </div>
            </div>
        </div>
    </div>
</div>